<div class="inner-banner inner-bg3">
    <div class="container">
        <div class="inner-banner-title text-center">
            <h3>House....</h3>
            <p>Finding The House Where The Storm Stops Outdoor</p>
        </div>
        
        <div class="banner-list">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <ul class="list">
                        <li><a routerLink="/home">Home</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li >Search</li>
                        <ng-container *ngIf="province != null">
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>{{province.provinceName}}</li>
                        </ng-container>
                     
                        <ng-container *ngIf="catehouse != null">
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>{{catehouse.cateTofhousename}}</li>
                        </ng-container>
                        
                        <ng-container *ngIf="category != null">
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>{{category.categoryname}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>