<!-- Navbar -->
<!-- <ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
  </li>
  <li class="nav-item d-none d-sm-inline-block"> -->
    <!-- <a href="/home" class="nav-link">Home</a> -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="height: 50px;">
      <div class="image">
        <p-avatar image="{{account?.photo}}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        <!-- <img src="{{account?.photo}}" class="img-circle elevation-2" alt="User Image"> -->
        <div class="info">
          <a class="d-block" style="color: black;">Welcome, {{account?.fullname}}!</a>
        </div>
      </div>
    </div>
  <!-- </li>
</ul> -->