<navbar></navbar>
<newsdetailsbanner></newsdetailsbanner>

<div class="listing-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <newsdetailcontentleft></newsdetailcontentleft>
            </div>

            <div class="col-lg-4">
                <newsdetailcontentright></newsdetailcontentright>
            </div>
        </div>
    </div>
</div>

<newsdetailsproperties></newsdetailsproperties>
<app-footer-style-two></app-footer-style-two>