<section class="process-area process-bg2">
    <div class="process-into pt-100 pb-80">
        <div class="container">
            <div class="section-title text-center">
                <!-- <span>Process</span> -->
                <h2> <b>Why Choose</b> Us <b>?</b></h2>
                <p>We provide full service at every step</p>
            </div>

            <div class="row pt-45">
                <div class="col-lg-4 col-sm-6">
                    <div class="process-card">
                        <i class="flaticon-position"></i>
                        <h3>Wide Renge Of Properties</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipisicing elit, sed do eiusmod tempor  quam voluptatem.</p>
                        <div class="process-number">1</div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="process-card">
                        <i class="flaticon-to-do-list"></i>
                        <h3>Trusted by thousands</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipisicing elit, sed do eiusmod tempor  quam voluptatem.</p>
                        <div class="process-number active">2</div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                    <div class="process-card">
                        <i class="flaticon-box"></i>
                        <h3>Financing made easy</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipisicing elit, sed do eiusmod tempor  quam voluptatem.</p>
                        <div class="process-number">3</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="process-line"><img src="assets/img/shape/process-line.png" alt="Images"></div>
    </div>
</section>