<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <!-- general form elements -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title"><strong>UPDATE NEWS</strong></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <ng-container *ngIf="editNewsForm">
                        <form [formGroup]="editNewsForm" (ngSubmit)="update()">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="address">Create date </label>
                                    <p style="font-size: 18px;">{{selectNews.createdate | date: 'dd-MM-yyyy'}}</p>
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ng-container *ngIf="!errorTitle">
                                                <input type="text" class="form-control" id="title"
                                                    placeholder="Enter title" aria-describedby="title-help" pInputText
                                                    style=" width: 100%; text-transform:uppercase"
                                                    formControlName="title">
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ng-container *ngIf="errorTitle">
                                                <input type="text" class="form-control" id="title"
                                                    placeholder="Enter title" aria-describedby="title-help"
                                                    class="ng-invalid ng-dirty" pInputText
                                                    style=" width: 100%; text-transform:uppercase"
                                                    formControlName="title">
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <small id="title-help" class="p-error">{{errorTitle}}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- <label for="address">Address </label>
                                        <p style="font-size: 18px;">{{selectNews.wardname}}, {{selectNews.cityname}}, {{selectNews.provincename}}</p> -->
                                    <div class="row">
                                        <label for="address">Address</label>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p-dropdown [options]="provincelist" (onChange)="sortCities()"
                                                    [showClear]="true" [(ngModel)]="provinceId"
                                                    placeholder="{{selectNews.provincename}}"
                                                    [ngModelOptions]="{standalone: true}" optionLabel="provinceName"
                                                    optionValue="provinceId" [showClear]="true"
                                                    [style]="{'width' :'100%'}"></p-dropdown>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <ng-container *ngIf="!errorAddress2">
                                                    <p-dropdown [options]="citylist" (onChange)="sortWards()"
                                                        [showClear]="true" [(ngModel)]="citiId"
                                                        [ngModelOptions]="{standalone: true}"
                                                        placeholder="{{selectNews.cityname}}" optionLabel="citiName"
                                                        optionValue="citiId" [style]="{'width' :'100%'}"
                                                        aria-describedby="city-help"></p-dropdown>
                                                </ng-container>
                                                <ng-container *ngIf="errorAddress2">
                                                    <p-dropdown [options]="citylist" (onChange)="sortWards()"
                                                        [showClear]="true" [(ngModel)]="citiId"
                                                        [ngModelOptions]="{standalone: true}"
                                                        placeholder="{{selectNews.cityname}}" optionLabel="citiName"
                                                        optionValue="citiId" [style]="{'width' :'100%'}"
                                                        aria-describedby="city-help" class="ng-invalid ng-dirty">
                                                    </p-dropdown>
                                                </ng-container>
                                                <small id="city-help" class="p-error">{{errorAddress2}}</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <ng-container *ngIf="!errorAddress1">
                                                    <p-dropdown [options]="wardlist"
                                                        placeholder="{{selectNews.wardname}}" optionLabel="wardName"
                                                        optionValue="wardId" formControlName="wardid" [showClear]="true"
                                                        [style]="{'width' :'100%'}" aria-describedby="ward-help">
                                                    </p-dropdown>
                                                </ng-container>
                                                <ng-container *ngIf="errorAddress1">
                                                    <p-dropdown [options]="wardlist"
                                                        placeholder="{{selectNews.wardname}}" optionLabel="wardName"
                                                        optionValue="wardId" formControlName="wardid" [showClear]="true"
                                                        [style]="{'width' :'100%'}" aria-describedby="ward-help"
                                                        class="ng-invalid ng-dirty"></p-dropdown>
                                                </ng-container>
                                                <small id="ward-help" class="p-error">{{errorAddress1}}</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="status">Property Status</label>
                                                <ng-container *ngIf="!errorStatus">
                                                    <p-dropdown [options]="catlist" [showClear]="true"
                                                        aria-describedby="status-help" formControlName="categoryid"
                                                        placeholder="Propery Status" optionLabel="categoryname"
                                                        optionValue="categoryid" [showClear]="true"
                                                        [style]="{'width' :'100%'}"></p-dropdown>
                                                </ng-container>
                                                <ng-container *ngIf="errorStatus">
                                                    <p-dropdown [options]="catlist" [showClear]="true"
                                                        aria-describedby="status-help" formControlName="categoryid"
                                                        placeholder="Propery Status" optionLabel="categoryname"
                                                        optionValue="categoryid" [showClear]="true"
                                                        class="ng-invalid ng-dirty" [style]="{'width' :'100%'}">
                                                    </p-dropdown>
                                                </ng-container>
                                                <small id="status-help" class="p-error">{{errorStatus}}</small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="category">Property Category</label>
                                                <ng-container *ngIf="!errorCategory">
                                                    <p-dropdown [options]="catHouselist" [showClear]="true"
                                                        aria-describedby="category-help"
                                                        formControlName="cateTofhouseid" placeholder="Property Category"
                                                        optionLabel="cateTofhousename" optionValue="cateTofhouseid"
                                                        [style]="{'width' :'100%'}"></p-dropdown>
                                                </ng-container>
                                                <ng-container *ngIf="errorCategory">
                                                    <p-dropdown [options]="catHouselist" [showClear]="true"
                                                        aria-describedby="category-help"
                                                        formControlName="cateTofhouseid" placeholder="Property Category"
                                                        class="ng-invalid ng-dirty" optionLabel="cateTofhousename"
                                                        optionValue="cateTofhouseid" [style]="{'width' :'100%'}">
                                                    </p-dropdown>
                                                </ng-container>
                                                <small id="category-help" class="p-error">{{errorCategory}}</small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="price">Price (USD)</label>
                                                <ng-container *ngIf="!errorPrice">
                                                    <p-inputNumber formControlName="price" inputId="currency-us"
                                                        mode="currency" [showClear]="true" placeholder="Enter Price"
                                                        currency="USD" locale="en-US" [inputStyle]="{width: '330px'}"
                                                        [min]="0" aria-describedby="price-help">
                                                    </p-inputNumber>
                                                </ng-container>
                                                <ng-container *ngIf="errorPrice">
                                                    <p-inputNumber formControlName="price" inputId="currency-us"
                                                        mode="currency" [showClear]="true" placeholder="Enter Price"
                                                        currency="USD" locale="en-US" [inputStyle]="{width: '330px'}"
                                                        [min]="0" aria-describedby="price-help"
                                                        class="ng-invalid ng-dirty">
                                                    </p-inputNumber>
                                                </ng-container>
                                                <small id="price-help" class="p-error">{{errorPrice}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="acreage">Acreage</label>
                                            <ng-container *ngIf="!errorAcreage">
                                                <p-inputNumber formControlName="acreage" suffix=" m2" [showClear]="true"
                                                    [inputStyle]="{width: '330px'}" placeholder="Enter acreage"
                                                    [min]="0" aria-describedby="acreage-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorAcreage">
                                                <p-inputNumber formControlName="acreage" suffix=" m2" [showClear]="true"
                                                    [inputStyle]="{width: '330px'}" placeholder="Enter acreage"
                                                    [min]="0" aria-describedby="acreage-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="acreage-help" class="p-error">{{errorAcreage}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nolivroom">Living Room</label>
                                            <ng-container *ngIf="!errorNoLiv">
                                                <p-inputNumber formControlName="nolivroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="LivingRoom" [min]="0" aria-describedby="livroom-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorNoLiv">
                                                <p-inputNumber formControlName="nolivroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="LivingRoom" [min]="0" aria-describedby="livroom-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="livroom-help" class="p-error">{{errorNoLiv}}</small>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nobedroom">Bed Room</label>
                                            <ng-container *ngIf="!errorNoBed">
                                                <p-inputNumber formControlName="nobedroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="BedRoom" [min]="0" aria-describedby="bedroom-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorNoBed">
                                                <p-inputNumber formControlName="nobedroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="BedRoom" [min]="0" aria-describedby="bedroom-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="bedroom-help" class="p-error">{{errorNoBed}}</small>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nobathroom">Bath Room</label>
                                            <ng-container *ngIf="!errorNoBath">
                                                <p-inputNumber formControlName="nobathroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="BathRoom" [min]="0" aria-describedby="bathroom-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorNoBath">
                                                <p-inputNumber formControlName="nobathroom" suffix=" room"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="BathRoom" [min]="0" aria-describedby="bathroom-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="bathroom-help" class="p-error">{{errorNoBath}}</small>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="garden">Garden</label>
                                            <ng-container *ngIf="!errorGarden">
                                                <p-inputNumber formControlName="garden" suffix=" garden"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="Garden" [min]="0" aria-describedby="garden-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorGarden">
                                                <p-inputNumber formControlName="garden" suffix=" garden"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="Garden" [min]="0" aria-describedby="garden-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="garden-help" class="p-error">{{errorGarden}}</small>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="bancony">Balcony</label>
                                            <ng-container *ngIf="!errorBalcony">
                                                <p-inputNumber formControlName="bancony" suffix=" balcony"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="Balcony" [min]="0" aria-describedby="balcony-help">
                                                </p-inputNumber>
                                            </ng-container>
                                            <ng-container *ngIf="errorBalcony">
                                                <p-inputNumber formControlName="bancony" suffix=" balcony"
                                                    [showClear]="true" [inputStyle]="{width: '330px'}"
                                                    placeholder="Balcony" [min]="0" aria-describedby="balcony-help"
                                                    class="ng-invalid ng-dirty">
                                                </p-inputNumber>
                                            </ng-container>
                                            <small id="balcony-help" class="p-error">{{errorBalcony}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <ckeditor formControlName="content" aria-describedby="content-help"></ckeditor>
                                    <small id="content-help" class="p-error">{{errorContent}}</small>
                                </div>

                                <!-- -------------------SHOW IMAGE--------------------------- -->
                                <!-- <div class="row">
                                    <div class="col-md-2">
                                        <label for="images">News Images</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">                                           
                                            <ng-container *ngIf="images">  
                                            
                                            <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5"
                                                [circular]="true" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true">
                                                <ng-template pTemplate="item" let-item>                                                    
                                                    <img [src]="item.photo" style="width: 100%; display: block;" />                                                    
                                                </ng-template>
                                                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" pTooltip="Remove image" (click)="delete($event)"></button>
                                                <ng-template pTemplate="thumbnail" let-item>
                                                    <div class="grid grid-nogutter justify-content-center">
                                                        <img [src]="item.photo" style="display: block;" />                                                        
                                                    </div>                                             
                                                </ng-template>
                                            </p-galleria>
                                            
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div> -->

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Update news</button>
                                <input type="hidden" formControlName="newsid">
                            </div>
                        </form>
                    </ng-container>

                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>