<div class="listing-details-side" *ngIf="news !=null">
    <div class="listing-widget-side">
        <h3 class="title">Property Infomation</h3>

        <ul class="listing-widget-list">
            <li>Acreage <span style="float: right;">{{news.acreage}} m&#178;</span></li>
            <li>Livingroom<span style="float: right;">{{news.nolivroom}}</span></li>
            <li>Bedroom <span style="float: right;">{{news.nobedroom}}</span></li>
            <li>Bathroom <span style="float: right;">{{news.nobathroom}}</span></li>
            <li>Garden <span style="float: right;">{{news.garden}}</span></li>
            <li>Bancony <span style="float: right;">{{news.bancony}}</span></li>

        </ul>
    </div>
    <div class="listing-widget-side">
        <h3 class="title">Address</h3>

      <h3 class="price-title">{{news.wardname}}, {{news.cityname}}, {{news.provincename}}</h3> 
    </div>

    

   

    <div class="listing-widget-side">
        <h3 class="title">Price</h3>
        
        <h3 class="price-title">Price : <span>{{news.price}} $$</span></h3>
    </div>

  
   

</div>