<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Category</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="card">
    <p-table #dt [value]="categories" [rows]="10" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
        dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true" scrollDirection="both" responsiveLayout="scroll"
        [globalFilterFields]="['cateTofhousename']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="row">

                    <div class="col-6">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="displayModal=true;stt=true"></button>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." [style]="{'height': '50px'}" />
                        </span>
                    </div>

                </div>


            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="cateTofhouseid" [style]="{'text-align':'center'}">Id<p-sortIcon
                        field="cateTofhouseid">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="cateTofhousename" [style]="{'text-align':'center'}">Title<p-sortIcon
                        field="cateTofhousename"></p-sortIcon>
                    <p-columnFilter type="text" field="cateTofhousename" display="menu"></p-columnFilter>
                </th>


                <!-- <th pSortableColumn="packagecontent" [style]="{'width':'120px','text-align':'center'}" >Content <p-sortIcon field="readnewsstatus"> -->
                <!-- </p-sortIcon> -->
                <!-- </th> -->
                <th [style]="{'text-align':'center'}">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td [style]="{'text-align':'center'}">CateNo{{category.cateTofhouseid}}</td>
                <td [style]="{'text-align':'center'}">{{category.cateTofhousename}}</td>
                <!-- <td [style]="{'text-align':'center'}">{{package.packagecontent}}</td> -->


                <!-- <div style="width: 50px; height: 50px;">
                  <div style="position: relative; display: inline;" class="speeddial-linear-demo">
                      <p-speedDial [model]="items" radius="80" direction="left" type="semi-circle"></p-speedDial>     
                  </div>
                </div> -->
                <td [style]="{'text-align':'center'}">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning" (click)="update(category.cateTofhouseid, category.cateTofhousename)"></button>&nbsp;
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger" (click)="deleteC(category.cateTofhouseid)"></button>



                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{categories ? categories.length : 0 }} categories.
            </div>
        </ng-template>
    </p-table>
</div>
<form [formGroup]="addCate" (ngSubmit)="save()">
    <p-dialog header="" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
        [resizable]="false" [style]="{'width':'300px'}">
        <div class="m-0" style="text-align:center ; ">
            <h5><h5 *ngIf="stt">Add</h5> <h5 *ngIf="!stt">Update</h5>Category</h5>
        </div>
        <br>
        <input type="text" name="name" id="name" class="form-control" required
            data-error="Please enter your Category Name" placeholder="Category" formControlName="cateTofhousename">
        <div class="col-lg-12"
            style="height: 0px; text-align: left; margin: 0,0,0,0;  vertical-align: text-top; font-size: 14px; color:red">
            {{errorText}}</div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" type="submit" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</form>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>