
<adminnewsdetailsbanner></adminnewsdetailsbanner>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <adminnewsdetailcontentleft></adminnewsdetailcontentleft>
        </div>

        <div class="col-lg-4">
            <adminnewsdetailcontentright></adminnewsdetailcontentright>
        </div>
    </div>
</div>
<section class="cart-wraps-area ptb-100">
    <div class="container">
            <!-- <adminnewsdetailsproperties></adminnewsdetailsproperties> -->
    </div>
</section>
