<div class="side-nav-responsive">
    <div class="container">
        <div class="dot-menu">
            <div class="circle-inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
            </div>
        </div>
        
        <div class="container">
            <div class="side-nav-inner">
                <div class="side-nav justify-content-center  align-items-center">

                    <div class="side-item">
                        <div class="search-box">
                            <i class="flaticon-loupe"></i>
                        </div>
                    </div>

                    <div class="side-item">
                        <div class="user-btn">
                            <a [routerLink]="['/login']"><i class="flaticon-contact"></i></a>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>